In [ ]:
print("baran igit")

In [ ]:
x = 8
print(x)
print(type(x))

In [ ]:
fruits = ['apple', 'banana', 'mango', 'pineapple']
for c in fruits:
    print(c)

In [ ]:
class Student:
    def __init__(self, name, index_number):
        self.name = name
        self.index_number = index_number

In [ ]:
student1 = Student('baran', '35431')
student2 = Student('hulusi', '35453')
print(student1.name, student1.index_number)
print(student2.name, student2.index_number)

In [ ]:
cars = {
    "brand": "toyota"'
    "year" : "2022"
    
}
print("brand",cars{"brand"})
print("year",cars{"year"})