In [6]:
print("baran igit")

baran igit

In [7]:
x = 8
print(x)
print(type(x))

8
<class 'int'>

In [8]:
fruits = ['apple', 'banana', 'mango', 'pineapple']
for c in fruits:
    print(c)

apple
banana
mango
pineapple

In [9]:
class Student:
    def __init__(self, name, index_number):
        self.name = name
        self.index_number = index_number

In [17]:
student1 = Student('baran', '35431')
student2 = Student('hulusi', '35453')
print(student1.name, student1.index_number)
print(student2.name, student2.index_number)

baran 35431
hulusi 35453

In [15]:
cars = {
    "brand": "toyota",
    "year": "2022",
}

print("brand", cars["brand"])
print("year", cars["year"])

brand toyota
year 2022

In [16]:
numbers = [1,2,3]

strings = ['a','b','c']

x = 5
y = 10
z = 15
numberlist = [x,y,z]
students = [student1,student2]